.AlignmentE {
    background-color: lightcoral;
}

.AlignmentG {
    background-color: lightgreen;
}

.nav-link {
    color: white;
    text-emphasis-style: 3;
}

.nav-tabs .nav-link.active {
    color: black !important;
    /* background-color: #bfdbf7 !important;
    border-color: #bfdbf7 !important; */
    font-weight: 700;
}

.Game {
    font-weight: bold;
}

.Name {
    font-weight: 600;
}

.Good {
    color: darkgreen;
    font-weight: 600;
}

.Evil {
    color: darkred;
    font-weight: 600;
}

.Faction {
    color: darkmagenta;
    font-weight: 600;
}

.Neutral {
    color: darkgray;
    font-weight: 600;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: large;
}




.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 10px; */
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */
    /* text-align: center; */
    right: 0;
    left: 0;
    /* min-height: 100px; */
    text-align: center;
    background-color: white;
}

.footer>.bottom {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.footer>.footer-data {
    position: right
}